img{
	height:100%;
}

#logo{
	height: 50px;
	text-align:center;
}
 

 .overlay{
	 	border-style: dashed;
	 	border-width: 2px;
		border-color: rgb(26,26,26,0.7);
	    background: rgba(51,51,51,0.7);
 }
 


#dropzone{
	min-width: 1024px;
	min-height: 400px;
	height:100%;
	width:100%;
	z-index:10;
}

html,body{
    margin: 0;
    height: 100%;
	min-width: 1024px;	
}

header{
	padding: 10px;
	margin: 0 auto;
}

label{
	font-weight:bold;
}

.visible{
	visibility: visible;
}

.hidden{
	visibility: hidden;	
}
.noPointerEvents {
  pointer-events: none;
}
#dropContent{
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	color: rgba(0, 0, 0, 0.5);
}

#bars{
	background-color: #e6e6e6;
	border: #d3d3d3 1px solid;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;	
}


#tools {
	margin: 0;
	margin-top: 5px;
	padding: 0;
}
#tools li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#tools span.ui-icon {
	float: left;
	margin: 0 4px;
}
.capaCanvas {
	position: absolute;
	left: 0;
	top: 0;
}

.canvasContainer{
	position:relative;
}

.relative {
	position: relative;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-close .ui-dialog-titlebar-close {display: none }

table tbody tr{
	margin: 5px auto;
}

.izq{
	width:25%;
	float:left;
}
.izq img{
	width:80%;
}
.dcha{
	width:75%;
	float:left;
}


table tbody tr td input{
	width: 35px;
	margin: 0 5px;
}

#fileSelector{
	display:none;
}

fieldset{
	border:none;
}

.quarter{
	width:35%;
}

.floatleft{
	float:left;	
}

.threequarter{
	width:65%;
}

#workspace{
	position:absolute; bottom:0px; top:121px ;	min-width: 1024px; width:100%
}