img{
	height:100%;
}

#logo{
	height: 80px;
	text-align:center;
}

header{
	padding: 10px;
}

nav{
	background-color: red;
}

#bars{
	background-color: gray;
}

#workspace{
	background-color: green;	
}